Repository TinaHanAtUnity/CreativeRenderTool, changes with the owners that CODEOWNERS names for each.
All owners: @ads-sdk-sf, @aui-sdk, @privacy-sdk

wip
  src/ts/Ads/Managers/AdRequestManager.spec.ts
Owners: @ads-sdk-sf

add second batch of game ids
  src/ts/Ads/Utilities/CustomFeatures.ts
Owners: @ads-sdk-sf

add 14,15 groups for load v5
  src/ts/Core/Models/ABGroup.ts
Owners: @ads-sdk-sf

Update CHANGELOG.md
  CHANGELOG.md
Owners: @ads-sdk-sf

Update CHANGELOG.md
  CHANGELOG.md
Owners: @ads-sdk-sf

lint
  src/styl/alternative-layout.styl
Owners: @ads-sdk-sf

Add reward calls to swipe up event
  src/ts/Ads/Views/SwipeUpVideoOverlay.ts
  src/ts/MabExperimentation/Performance/PerformanceAdUnitWithAutomatedExperimentParametersFactory.ts
Owners: @ads-sdk-sf, @aui-sdk

Update CHANGELOG.md
  CHANGELOG.md
Owners: @ads-sdk-sf

move AB group check to parameter factory and correct comment on controlBar
  src/ts/VAST/AdUnits/VastAdUnitParametersFactory.ts
  src/ts/VAST/Utilities/VastParserStrict.ts
  src/ts/VAST/Views/VastHTMLEndScreen.ts
Owners: @ads-sdk-sf

Revert "[AUI] Add reward calls to swipe up event"
  src/ts/Ads/Views/SwipeUpVideoOverlay.ts
  src/ts/MabExperimentation/Performance/PerformanceAdUnitWithAutomatedExperimentParametersFactory.ts
Owners: @ads-sdk-sf, @aui-sdk

Only set consent if user is over age
  src/ts/Ads/AdUnits/PrivacySDKUnit.ts
Owners: @privacy-sdk

refactor
  src/html/Privacy.html
  src/html/consent/Consent.html
  src/html/consent/PrivacySettings.html
  src/html/consent/privacy-data-request.html
  src/html/consent/privacy-row-item-container.html
  src/styl/components.styl
  src/styl/consent.styl
  src/styl/privacy-data-request.styl
  src/styl/privacy-row-item-container.styl
  src/styl/privacy-settings.styl
  src/styl/privacy.styl
Owners: @ads-sdk-sf

fix for android
  src/styl/components.styl
Owners: @ads-sdk-sf

Fix for android
  src/styl/components.styl
Owners: @ads-sdk-sf

fix lint
  src/styl/components.styl
Owners: @ads-sdk-sf

Fix lint
  src/styl/components.styl
Owners: @ads-sdk-sf

CODEOWNERS:

# For details, see https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global Owners
* @ads-sdk-sf

# Ad Unit Innovation
src/ts/MabExperimentation/ @aui-sdk

# Privacy SDK
src/ts/Ads/Managers/UserPrivacyManager.ts @privacy-sdk
src/ts/Ads/Models/RequestPrivacy.ts @privacy-sdk
src/ts/Ads/AdUnits/PrivacySDKUnit.ts @privacy-sdk
src/ts/Ads/AdUnits/PrivacyUnit.ts @privacy-sdk
src/ts/Ads/EventHandlers/PrivacyEventHandler.ts @privacy-sdk
src/ts/Ads/EventHandlers/GDPREventHandler.ts @privacy-sdk
src/ts/Ads/Views/AbstractPrivacy.ts @privacy-sdk
src/ts/Ads/Views/Privacy/ @privacy-sdk
src/ts/Ads/Views/Privacy.ts @privacy-sdk
src/ts/Privacy/ @privacy-sdk
